---
####   PHP 7.1 BOX
ip: "192.168.10.12"
domain: php71.app
memory: 2048
cpus: 1
hostname: homestead-boxes-php71
name: homestead-boxes-php71
provider: virtualbox
# version: ">= 0.4.2"

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
      # Site3
    - map: "~/Sites/site"
      to: "/home/vagrant/site"

      # Default
    - map: "~/homestead-boxes"
      to: "/home/vagrant/homestead-boxes"

sites:
      # Site3
    - map: site3.local
      to: "/home/vagrant/site/public"

      # Default
    - map: homestead71.local
      to: "/home/vagrant/homestead-boxes"

databases:
    - homestead
    - site3

networks:
    - type: public_network
      bridge: "en0: Wi-Fi (AirPort)"

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
